[submodule "edgesdk_devtools"]
	path = edgesdk_devtools
	url = ../edgesdk_devtools.git
[submodule "edgesdk_dotnet6_api_modbus"]
	path = edgesdk_dotnet6_api_modbus
	url = ../edgesdk_dotnet6_api_modbus.git
[submodule "edgesdk_examplecsharp_modbus"]
	path = edgesdk_examplecsharp_modbus
	url = ../edgesdk_examplecsharp_modbus.git
[submodule "edgesdk_examplepython_modbus"]
	path = edgesdk_examplepython_modbus
	url = ../edgesdk_examplepython_modbus.git
[submodule "edgesdk_python_api_modbus"]
	path = edgesdk_python_api_modbus
	url = ../edgesdk_python_api_modbus.git
